.form {
  small {
    font-size: 0.75rem;

    &.helper-text {
      color: $gray-400;
    }

    &.invalid-text {
      color: $red-600;
    }
  }

  hr {
    border: none;
    height: 1px;
    background-color: $gray-400;
    margin: 1rem 0;
  }
}

