$blue-300: #2A5AC9;
$blue-400: #2854BC;
$blue-500: #2249A3;
$blue-600: #1A387D;
$blue-700: #0D1B3D;

$yellow-400: #BD9128;
$yellow-600: #704F01;

$white-100: #FFFFFF;
$white-200: #f0f0f0;
$white-300: #E0E0E0;

$black-900: #000000;
$black-800: #212121;

$gray-400: #ADADAD;
$gray-600: #6E6E6E;

$red-600: #E24C4C;

$hover-darken: 5%;
$disabled-desaturate: 30%;